*.exe filter=lfs diff=lfs merge=lfs -text
git add .gitattributes
git add sonnet/cbumsNew/cbums/postgresql_installer.exe
git commit -m "Track large file using Git LFS"
git push -u origin master
echo sonnet/cbumsNew/cbums/postgresql_installer.exe >> .gitignore
git add .gitignore
git commit -m "Ignore installer file"
git push
